@media (max-width: 62em) {
  .menu-toggle { display: flex !important; align-items: center; }
  .header-title { font-size: 14px; }
  .role-switcher { display: none !important; }
}

@media (max-width: 48em) {
  .header-user-info { display: none !important; }
  .mantine-AppShell-main { padding-bottom: 70px !important; }
  .mobile-nav { display: flex !important; }
}

@media (min-width: 49em) {
  .mobile-nav { display: none !important; }
}
